#Name{
    margin-left: 43px;
}

#City{
    margin-left: 59px;
}

#State{
    margin-left: 50px;
    width: 100px;
}

#Zip{
    margin-left: 63px;
    width: 100px;
}

#Add{
    margin-left: 29px;
}

#option{
    margin-left: 16px;

}